#                                             Assignment No.1

##  Q1. Create one variable containing following type data:

In [1]:
#1) string

a = "atharva"


#2) list

b = ["ami", "anuj", 6, 1.43, True] 


#3)Float

c = 4.15

#4) Tuple

d = ("abhishek", 456, 4.14, False)

## Q2. Given are some following variables containing data:

In [5]:
var1 = ''  
print(type(var1))

var2 = '[ DS , ML , Python]'
print(type(var2))

var3 = [ 'DS' , 'ML' , 'PYTHON' ]
print(type(var3))

var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

### var1 = string
### var2 = string
### var3 = list
### var4 = integer

## Q3. Explain the use of the following operators using an example:

In [10]:
Division = print(25/5)
Modulus = print (36%5)
Floor_division = print (53//7)
Exponentiation = print (5**3)

5.0
1
7
125

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [13]:
sample_list = ['Adipurush', 'sneha', 15, 5.23, "Tina", True, 69, 67.89, False, "Jayesh"]

for i in sample_list:

     print(i , type(i))

Adipurush <class 'str'>
sneha <class 'str'>
15 <class 'int'>
5.23 <class 'float'>
Tina <class 'str'>
True <class 'bool'>
69 <class 'int'>
67.89 <class 'float'>
False <class 'bool'>
Jayesh <class 'str'>

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [39]:
A =int(input())
B =int(input())
C=0

if A%B == 0:
    while(A >= B):
        D = A//B
        A = D 
        C += 1
    print(C)
else:
    print("not divisible")

30
5
2

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [50]:
list1 = [10, 12, 25, 36, 58, 63, 45, 27, 43, 97, 85, 56, 11, 89, 88, 75, 63, 22, 59, 33, 78, 77, 82, 47, 9]
list2 = []
list3 = []

for i in list1:
    if i %3 == 0:
        list2.append(i)
    else :
        list3.append(i)
        
print(list2)
print(list3)

[12, 36, 63, 45, 27, 75, 63, 33, 78, 9]
[10, 25, 58, 43, 97, 85, 56, 11, 89, 88, 22, 59, 77, 82, 47]

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [52]:
# Mutable is List and Immutable is tuple
immutable = ("abhi", 45, 5.33, True)
mutable = ["ayush", 89, 6.33, False]


mutable.append("omkar")
immutable.append(25)

AttributeError: 'tuple' object has no attribute 'append'